.main{
    height: 500px;
    border: 2px solid green;
}

.flex-container{
    width: 500px;
    border: 2px dashed purple;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.flex-container > div{
    margin: 20px;
    padding: 30px;
    border: 1px solid red;
    font-size: 30px;
    color: blue;
    background-color: pink;
}